@{
  Layout = "_Layout";
}

@using University.Models;
@using System.Security.Claims
@model IEnumerable<University.Models.Student>

<h1>Students for @User.Identity.Name</h1>

@if (Model.Any())
{
  <ul>
    @foreach (Student student in Model)
    {
      <li>@Html.ActionLink($"{student.FirstName} {student.LastName}", "Details", new { id = student.StudentId })</li>
    }
  </ul>
} 
else
{
  <h3>No students have been added yet!</h3>
}

<p>@Html.ActionLink("Add new student", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>